# =========================
# Visual Studio
# =========================
.vs/

# =========================
# Carpetas de compilación
# =========================
GestorDeTareasWinForms/bin/
GestorDeTareasWinForms/obj/

# =========================
# Archivos de usuario de Visual Studio
# =========================
GestorDeTareasWinForms/*.user
*.suo
*.userosscache

# =========================
# NuGet
# =========================
packages/

# =========================
# Logs y caches
# =========================
*.log
*.cache

# =========================
# Archivos del sistema operativo
# =========================
.DS_Store
Thumbs.db